<div class="list-wrap">
  <el-breadcrumb class="list-breadcrumd" separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>商品管理</el-breadcrumb-item>
    <el-breadcrumb-item>商品参数</el-breadcrumb-item>
  </el-breadcrumb>
  <el-row class="list-action-wrap">
    <el-col :span="24">
      <!--
        1. 封装组件
        2. 加载注册组件
        3. 使用组件
            level 用来指定分类的层级，默认为 3
       -->
      <CategoryCasCader @change="handleChange" level="3"></CategoryCasCader>
    </el-col>
  </el-row>
  <el-tabs type="border-card">
    <el-tab-pane label="动态参数">
      <el-row>
        <el-col :span="4">
          <el-button @click="showAddManyDialog">添加参数名称</el-button>
        </el-col>
      </el-row>
      <el-table
        :data="tableData"
        style="width: 100%">
        <el-table-column type="expand">
          <template slot-scope="scope">
            <el-tag
              closable
              v-for="(item, index) in scope.row.attr_vals"
              @close="handleDeleteTag(scope.row, index)"
              :key="item.attr_id"
              type="success">
              {{ item }}
            </el-tag>
            <!--
              我们简单点直接把 inputVisible 添加到当前行对象中
              这样的话每一行的 inputVisible 就都不一样了
              :autofocus="true" 是静态的，只是一上来获得一次焦点
              自定义指令操作 DOM
              ref 也可以操作 DOM
              ref 可以直接在 JavaScript 中拿到 DOM 元素
            -->
            <el-input
              class="input-new-tag"
              v-if="scope.row.inputVisible"
              ref="saveTagInput"
              size="small"
              @keyup.enter.native="handleInputConfirm(scope.row, $event)"
              @blur="handleInputConfirm(scope.row, $event)">
            </el-input>
            <el-button v-else class="button-new-tag" size="small" @click="showInput(scope.row)">+ New Tag</el-button>
          </template>
        </el-table-column>
        <el-table-column type="index"></el-table-column>
        <el-table-column
          label="商品参数"
          prop="attr_name">
        </el-table-column>
        <el-table-column
          label="操作">
          <template slot-scope="scope">
            <el-button size="mini" type="success" plain>编辑</el-button>
            <el-button size="mini" type="danger" plain>删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-tab-pane>
    <el-tab-pane label="静态属性">静态属性</el-tab-pane>
  </el-tabs>
  <!-- 添加分类动态参数 -->
  <el-dialog title="添加参数名称" :visible.sync="addManyDialog">
    <el-form :model="addManyForm">
      <el-form-item label="参数名称" label-width="120px">
        <el-input v-model="addManyForm.attr_name" auto-complete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="addManyDialog = false">取 消</el-button>
      <el-button type="primary" @click="handleAddMany">确 定</el-button>
    </div>
  </el-dialog>
  <!-- 添加分类动态参数 -->
</div>
